= simple_form_for(@produto) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome
    = f.input :descricao
    = f.association :empresa, label_method: :nome

  .form-actions
    = f.button :submit, 'Salvar'
