%p#notice= notice

%p
  %b Nome:
  = @empresa.nome
%p
  %b Endereco:
  = @empresa.endereco
%p
  %b Telefone:
  = @empresa.telefone
%p
  %b Cnpj:
  = @empresa.cnpj
%p
  %b Latitude:
  = @empresa.latitude
%p
  %b Longitude:
  = @empresa.longitude

= link_to 'Edit', edit_empresa_path(@empresa)
\|
= link_to 'Back', empresas_path
